$li-margin-bottom: 15px;
$ul-margin-bottom: 15px; //要小於等於$li-margin-bottom

.navbar {
    position: sticky;
    top: 0px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid var(--item-color);
    box-sizing: border-box;
    height: 50px;
    z-index: 100;
    transform: translateY(0);
    transition: 0.2s ease-in-out;

    .logo img {
        width: 65px;
        padding: 5px;
        cursor: pointer;
    }

    .navbarContainer {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .dropdown {
            display: flex;
            gap: 15px;
            z-index: 100;

            .option {
                display: flex;
                align-items: center;
                position: relative;

                img {
                    width: 20px;
                    height: 20px;
                }

                p {
                    font-family: 'Kanit';
                    transition: .2s;
                }

                a{
                    text-decoration: none;
                    color: black;
                }
            }

            .option:hover .items {
                display: block;
                cursor: pointer;
            }

            .option:hover>a>p {
                color: var(--hover-color);
                cursor: pointer;
            }
        }
    }

}
/* 滚動後收起導航欄 */
.navbar.hidden {
    transform: translateY(-100%);
}

.items {
    display: none;
    border: 1px solid var(--item-color);
    border-top: 0;
    position: absolute;
    // top: 49px;
    left: -50%;
    width: 100px;
    background: rgb(255, 255, 255);

    ul {
        list-style: none;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: calc($ul-margin-bottom-$li-margin-bottom) !important;
    }

    li {
        font-family: 'Noto Serif TC';
        margin-bottom: $li-margin-bottom;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        transition: .2s;
    }

    li:hover {
        color: var(--hover-color);
        cursor: pointer;
    }

    li::after {
        content: '';
        display: flex;
        width: 0;
        height: 1px;
        background: var(--hover-color);
        transition: width .3s;
    }

    li:hover::after {
        width: 100%;
        cursor: pointer;
    }
}

.linkList {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 0 20px;

    div:hover {
        color: var(--hover-color);
        cursor: pointer;
    }

    img {
        width: 15px;
    }

    .photo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--item-color);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .photo>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .userName {
        font-family: 'Kanit';
        font-size: 15px;
        color: black;
        cursor: pointer;
    }

    >a {
        text-decoration: none
    }

    .loginBT,
    .logoutBT {
        background-color: var(--primary-button-color);
        border-radius: 50px;
        padding: 3px 7px;
        transition: .1s;
        color: var(--secondary-button-color);
    }

    .loginBT:hover,
    .logoutBT:hover {
        color: white;
        background-color: var(--hover-color);
        box-shadow: 2px 2px 1px 0px var(--item-color);
        cursor: pointer;
    }

    .instagramIcon:hover {
        content: url(https://cdn-icons-png.flaticon.com/512/1384/1384063.png);
        cursor: pointer;
    }

    .facebookIcon:hover {
        content: url(https://cdn-icons-png.flaticon.com/512/3128/3128304.png);
        cursor: pointer;
    }

    .youtubeIcon:hover {
        content: url(https://cdn-icons-png.flaticon.com/512/1384/1384060.png);
        cursor: pointer;
    }

}

.navbar-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1.3rem;
    font-size: 1.5rem;
    display: none;
}

.linkList.mobileActive {
    display: flex;
}

.linkList.mobileActive>* {
    border-bottom: 2px dashed #ffffff;
    padding-bottom: 20px;
    width: 50%;
}

.pc {
    display: flex;
}

.mobile {
    display: none;
}

.linkList.mobileActive {
    position: absolute;
    top: 50px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.mobileNavbar {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: var(--primary-color);
    transition: all 0.3s cubic-bezier(0.05, -0.03, 0.58, 1) 0s;
}

.mobileNavbar .account {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

@media screen and (max-width: 765px) {
    .mobile {
        display: flex;
        align-items: center;
    }

    .pc {
        display: none;
    }

    .linkList {
        gap: 20px;
    }

    .linkList.mobileActive {
        display: flex;
        align-items: center;
    }

    .mobileNavbar {
        display: block;
    }

    .contactListMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 0 20px;
        margin-top: 10px;
    }
}