@keyframes skeleton {
    to {
        opacity: 0.6;
    }
}

.skeleton.labelView {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .skeleton.label {
        width: 70px;
        height: 1.5em;
        margin: 5px 0;
        background: var(--item-color);
        border-radius: 50px;
        padding: 1px 8px;
        color: #787878;
        transition: .1s;
        animation: skeleton 1s ease infinite alternate;
    }
}

.skeleton.post {
    display: flex;
    width: 600px;
    //background: var(--item-color);
    gap: 20px;
    z-index: -1;

    .skeleton.cover {
        width: 50%;
        height: 220px;
        overflow: hidden;
        background: var(--item-color);
        animation: skeleton 1s ease infinite alternate;
    }

    .skeleton.info {
        display: grid;
        flex-direction: column;
        width: 50%;
        grid-template-rows: .5fr 2.5fr .5fr 2.5fr;
        align-items: center;
        height: 220px;
        gap: 10px;

        .skeleton.type {
            width: 100px;
            height: 100%;
            background: var(--item-color);
            animation: skeleton 1s ease infinite alternate;
        }

        .skeleton.title {
            height: 60%;
            background: var(--item-color);
            animation: skeleton 1s ease infinite alternate;
        }

        .skeleton.authorNdate {
            display: flex;
            gap: 10px;
            width: 70px;
            height: 100%;
            background: var(--item-color);
            animation: skeleton 1s ease infinite alternate;
        }

        .skeleton.content {
            height: 100%;
            background: var(--item-color);
            animation: skeleton 1s ease infinite alternate;
        }
    }
}

.skeletonNews {
    width: 100%;

    .skeletonBox {
        width: 100%;
        padding: 15px 10px;
        animation: skeleton 1s ease infinite alternate;

        .skeletonBoxContainer {
            width: 100%;
            border-radius: 20px;
            background: #ffffff70;
            box-shadow: 1px 2px 2px 0px #979797;
            break-inside: avoid-column;

            .skeletonCoverImg {
                padding: 35px 35px 0;

                .skeletonImg {
                    width: 100%;
                    height: 100px;
                    // margin: 35px 35px 0;
                    // border: 1px solid;
                    border-radius: 15px;
                    background: #ffffff70;
                    // box-shadow: 1px 1px 1px 1px #676767;
                }
            }

            .skeletonContext {
                white-space: normal;
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                padding: 30px 43px;
                color: black;

                h1,
                h2,
                h3 {
                    width: 70%;
                    height: 30px;
                    background: #ffffffa7;
                    margin: 10px 0;
                    border-radius: 25px;
                }

                h2 {
                    width: 100%;
                }

                h3 {
                    width: 50%;
                }
            }
        }
    }
}

.skeleton.HomePageArticleItem {
    width: 100%;
    height: 100px;
    background: var(--item-color);
    animation: skeleton 1s ease infinite alternate;
    margin: 10px 0;
}

.skeleton.HomePageArticleItem-total {
    width: 200px;
    height: 30px;
    background: var(--item-color);
    animation: skeleton 1s ease infinite alternate;
    margin: 10px 0;
}